<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<nav aria-label="Page navigation">
    <ul>
        {% for article in articles %}
        <li>
            {{article.title}}
        </li>
        {% endfor %}
    </ul>
    <ul class="pagination">
        <!--#上一页-->
        <!--当有上一页时-->
        {% if page_obj.has_previous %}
        <li><a href="{% url 'book:article_list' %}?page={{ page_obj.previous_page_number }}">上一页</a></li>
        {% else %}
        <li class="disabled"><a href="javascript:void(0)">上一页</a></li>
        {% endif %}

        <!--中间的页码，如果是当前页，添加active属性-->

        {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
        <li class="active">
            <a href="{% url 'book:article_list' %}?page={{ page }}">{{ page }}</a>
        </li>
        {% else %}
        <li><a href="{% url 'book:article_list' %}?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}


        <!--#下一页-->
        {% if page_obj.has_next %}
        <li><a href="{% url 'book:article_list' %}?page={{ page_obj.next_page_number }}">下一页</a></li>
        {% else %}
        <li class="disabled"><a href="javascript:void(0)">下一页</a></li>
        {% endif %}
    </ul>
</nav>


</body>
</html>