{% extends 'head_.html' %}

{% block body %}
    <form action="" method="post">
    {% csrf_token %}
    <table>
            <tr>
                <td>用户名<input type="text" name="username"></td>
            </tr>
            <tr>
                <td>密码<input type="text" name="password"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="立即登陆">
                </td>
            </tr>
        </table>
    </form>
        {% for message in messages %}
        {{ message }}
        {% endfor %}

{% endblock %}